*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;

}
html{
    scroll-behavior: smooth;
}
#viewDiv {
    height: 40%;
    width: 40%;
  }

body{
    margin: 0;
    background-color: #FFD0E9;
}
    

/**************************Botón de wathsapp*********************************************/
.btn-wsp{
    position:fixed;
    width:65px;
    height:65px;
    line-height: 60px;
    bottom:25px;
    right:25px;
    background:#25d366;
    color:#FFF;
    border-radius:50px;
    text-align:center;
    font-size:45px;
    box-shadow: 0px 1px 10px rgba(0,0,0,0.3);
    z-index:100;
    transition: all 300ms ease;
}
.btn-wsp:hover{
    background: #20ba5a;
}
/****************************************************************************/
strong{
    color: #E1306C;
}

header{
    background-color: #f5f5f5;
    position: absolute; z-index: 1;    
}

.marca > img{
    margin-top: 1%;
    width: 140px;
    height: 140px;
    
}

header .container{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

header nav{
    display: flex;
    flex-direction: column;
    text-align: center;
    margin-top: 5%;
    padding-bottom: 10px;
    font-size: 14px;   
}

#nave{
    padding: 6px 10px;
    text-decoration: none;
    font-weight: bold;
    color: black;    
}
#nave:hover{
    color: #e3cf30;
}

header a:hover{
    color:#e3cf30;
}
/****************************************************Redes banner***************************/
.container-bar{
	width: 100%;
	max-width: 50px;
	position: fixed;
	left: 0;
	top: 25%;
}
.container-bar a{
	display: block;
	width: 45px;
	height: 45px;
	line-height: 50px;
	text-align: center;
	text-decoration: none;
	font-size: 16px;
	position: relative;
	transition: all 500ms ease;
	color: #fff;
}
.container-bar a:hover{
	background: #1c1c1c;
}
.container-bar .fa-facebook{
	background: #3b5998;
	border-radius: 0px 5px 0px 0px;
}
.container-bar .fa-envelope{
	background: #e52a23;
}
.container-bar .fa-instagram{
	background: #E1306C;
}

.container-bar #title{
	position: absolute;
	background: #1c1c1c;
	padding: 0px 8px;
	height: 30px;
	line-height: 30px;
	text-align: center;
	border-radius: 3px;
	font-size: 15px;
	top:12px; left: 0px;
	transition: all 500ms ease;
	opacity: 0;
	visibility: hidden;
	z-index: -1;
}
.container-bar a:hover #title{
	opacity: 1;
	visibility: visible;
	left: 64px;
}
.container-bar #title:after{
	position: absolute;
	content: '';
	border-left: 7px solid transparent;
	border-right: 6px solid #1c1c1c;
	border-top: 7px solid transparent;
	border-bottom: 7px solid transparent;
	right: 100%;
	top: 8px;
}
#btn-social{
	display: none;
}
.fa-play{
	cursor: pointer;
	transition: all 0.4s;
	font-size: 18px;
	margin-bottom: 5px;
	display: inline-block;
	transform: rotate(180deg);
	color: #e3cf30;
}
#btn-social:checked ~ .fa-play{
	transform: rotate(0deg);
}
.icon-social{
	transition: all 0.4s;
	transform: translateX(0%);
	box-shadow: 0px 1px 10px rgba(0,0,0,0.3);
}
#btn-social:checked ~ .icon-social{
	transform: translateX(-100%);
	box-shadow: 0px 1px 10px rgba(0,0,0,0.0);
}
/***********************************Hero***************************************************/
.logo{
    display: inline-block;
    margin: 0;
    padding: auto;
    color: #EB17A4;
    font-size: 20;
    text-decoration: none;
}

#hero{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    height: 850px;
    background-image: linear-gradient(
        0deg,
        rgba(0,0,0,0.5),
        rgba(0,0,0,0.5)
    )
    ,url("../assets/img/banner.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}

#hero h1{
    color: white;
}
#hero button{
    font-size: 8px;
}
.button{
    font-size: 14px;
    font-weight: bold;
    padding: 10px 30px;
    border-radius: 5px;
    border: 2px solid rgba(0,0,0,0.3);
    box-shadow: 2px 2px 10px rgba(0,0,0,0.5);
    color: white;
    background-color: #e3cf30;
    text-decoration: none;
}

.button:hover{
    background-color: #feb2f3;
}

.container{
    max-width: 1000px;
    margin: auto;
}

.color-acento{ color:#EB17A4; }
 /**************************footer***************************/
 footer{
    text-align: center;
    padding: 2%; 
    height: 100px;
}

footer>a{
    width: 2%;
    padding: 1%;
    color: #1c1c1c;
    font-size: 25px;
}

footer {
    background-color: #feb2f3;
}

footer p {
    margin: 0;
    padding: 12px;
    color: black;
}

footer .container {
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

/****************Index decoracion***************************/
#decoracion{
    display: flex;
    justify-content:space-between;
    width: 50px;
    height: 50px;
}
.int{
    margin-left: 0.1px;
}
/************************************************/

.form{ 
    margin-top: 5%;  
    width: 80%;
    height: auto;
    margin-left: 15%;
    border-radius: 10px;
    border: 4px solid #E1306C;
    padding: 20px 10px;
    text-align: center;

}

.form > input,label,button,select{
    display: inline-block;
    width: 70%;
    margin: 1px 0;
    font-size: 12px;
}

.form > input{
    padding: 10px 2px;
    border: none;
    border-bottom: 1px solid #e3cf30;
    outline:none;
}

.form > label{
    text-align: left;
    padding: 5px;
}
.check{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 80px;
    cursor: pointer;
    margin-bottom: 12px;
}

input[type="checkbox"] {
    margin-right: 10px;
}

.login-btn {
    display: inline-block;
    width: 200px;
    height: 50px;
    line-height: 50px;
    text-align: center;
    background-color: #e3cf30;
    color: #fff;
    text-decoration: none;
    border: none;
    border-radius: 5px;
    font-size: 22px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.login-btn:hover {
    background-color: #d2bc27;
}

.redes {
    text-align: center;
    margin-top: 20px;
}

.redes a {
    margin: 5px;
}

.redes img {
    width: 250px;
    height: 50px;
}
/***********************************************/
.quienes{
    margin-left: 15%;
    padding-top: 40%;
    justify-content: center;
    align-items: center;
    font-size: 16px;
}
#ision{
    margin-left: 10%;
    width: 120px;
    height: 150px;
}
.card{
    width: 330px;
    height: 470px;
    justify-content: center;
    align-items: center;
}
#datos{
    justify-content: center;
    padding-top: 5%;
}
.card-title{
    font-size: 20px;
}
#heo{
    justify-content: center;
    align-items: center;
    width: 150px;
    height: 150px;
    margin-left: 20%;
}
.embarazo{
    padding-top: 5%;
}

/*************************************Hero**************************************************
.logo{
    display: inline-block;
    margin: 0;
    padding: auto;
    color: #EB17A4;
    font-size: 25px;
    text-decoration: none;
}

#hero{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    height: 90vh;
    background-image: linear-gradient(
        0deg,
        rgba(0,0,0,0.5),
        rgba(0,0,0,0.5)
    )
    ,url("../assets/img/banner.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}

#hero h1{
    color: white;
}
#hero button{
    font-size: 10px;
}
.button{
    font-size: 25px;
    font-weight: bold;
    padding: 10px 30px;
    border-radius: 5px;
    border: 2px solid rgba(0,0,0,0.3);
    box-shadow: 2px 2px 10px rgba(0,0,0,0.5);
    color: white;
    background-color: #e3cf30;
    text-decoration: none;
}

.button:hover{
    background-color: #feb2f3;
}

.container{
    max-width: 1400px;
    margin: auto;
}

.color-acento{ color:#EB17A4; }
*/
/******************************************Footer****************************************
footer{
    text-align: center;
    padding: 2%;  
}
footer>a{
    width: 2%;
    padding: 1%;
    color: #1c1c1c;
    font-size: 25px;
}

footer {
    background-color: #feb2f3;
}

footer p {
    margin: 0;
    padding: 12px;
    color: black;
}

footer .container {
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}*/
/*****************************************Index decoración****************************************
#decoracion{
    display: flex;
    justify-content:space-between;
    width: 110px;
    height: 110px;
}
.int{
    margin-left: 0.1px;
}*/

/*************************REGISTRATE e Inicio******************************************

.form{ 
    margin-top: 3%;  
    width: 75%;
    height: auto;
    margin-left: 13%;
    border-radius: 10px;
    border: 4px solid #E1306C;
    padding: 25px 10px;
    text-align: center;

}


.form > input,label,button,select{
    display: inline-block;
    width: 80%;
    margin: 5px 0;
    font-size: 20px;
}

.form > input{
    padding: 10px 2px;
    border: none;
    border-bottom: 1px solid #e3cf30;
    outline: none;
}

.form > label{
    text-align: left;
    padding: 5px;
}
.check{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 120px;
    cursor: pointer;
    margin-bottom: 12px;
}

input[type="checkbox"] {
    margin-right: 10px;
}

.login-btn {
    display: inline-block;
    width: 300px;
    height: 50px;
    line-height: 50px;
    text-align: center;
    background-color: #e3cf30;
    color: #fff;
    text-decoration: none;
    border: none;
    border-radius: 5px;
    font-size: 22px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.login-btn:hover {
    background-color: #d2bc27;
}
*/

/********************************Quiebes somos**********************
.quienes{
    margin-left: 8%;
    padding-top: 20%;
    justify-content: center;
    align-items: center;
    font-size: 20px;
}
#ision{
    margin: 2%;
    width: 250px;
    height: 300px;
}
.card{
    width: 850px;
    height: 350px;
    justify-content: center;
    align-items: center;
}
#datos{
    justify-content: center;
    padding-top: 7%;
}
.card-title{
    font-size: 24px;
}
#heo{
    justify-content: center;
    align-items: center;
    width: 150px;
    height: 150px;
    margin-left: 40%;
}*/

@media (min-width: 980px){
    body{
        font-size: 18px;
    }
    header{
        position: fixed;
        width: 100%;
    }
    #hero{
        height: 500px;
    }
    header .container{
        flex-direction: row;
        justify-content: space-between;
    }

    header nav{
        flex-direction: row;
        padding-bottom: 0;
        padding-right: 20px;
    }
    #decoracion{
        width: 90px;
        height: 60px;
    }
    .marca > img{
        margin-top: 1%;
        width: 100px;
        height: 100px;
        
    }
    .quienes{
        margin-left: 9%;
        padding-top:9%;
    }
    #ision{
        margin: 2%;
        width: 150px;
        height: 180px;
    }
    .card{
        width: 1100px;
        height: 200px;

    }
    .card-body{
        padding-left: 0%;
    }
    #datos{
        padding-top:2%; 

    }
    #heo{
        margin-left:40%;
    }

    .form{ 
        margin-top: 0%;
        padding-top: 0%;
        width: 70%;
        margin-left: 15%;

    }
    .login-btn {
        display: inline-block;
        width: 300px;
        height: 40px;
        line-height: 40px;
        text-align: center;
        background-color: #e3cf30;
        color: #fff;
        text-decoration: none;
        border: none;
        border-radius: 5px;
        font-size: 22px;
        cursor: pointer;
        transition: background-color 0.3s ease;
    }
    footer{
        font-size: 16px;
    }

    h2{
        padding-top: 1%;
        font-size: 22px;
    }

}

@media (min-width: 1100px){
    header{
        position: fixed;
        width: 100%;
    }
    .int{
    margin-left: 40%;
    margin-right: 40%;
 }
} 
@media (max-width: 1000px){
    header{
        position: fixed;
        width: 100%;
    }
    .int{
       margin-left: 25%;
       margin-right: 25%;
    }
   } 
@media (min-width: 800px) and (max-width: 1000px){
    header{
        position: fixed;
        width: 100%;
    }
    #decoracion{
        width: 70px;
        height: 70px;
    }
    .int{
        margin-left: 15px;
    }
    header{
        position: fixed;
        width: 100%;
    }
}

@media (min-width: 700px) and (max-width: 945px){
    header{
        position: fixed;
        width: 100%;
    }
    .quienes{
        padding-top: 20%;
        margin-left: 7%;
    }
    #ision{
        margin: 2%;
        width: 150px;
        height: 180px;
    }
    .card{
        width: 700px;
        height: 250px;

    }
    #heo{
        margin-left:35%;
    }
        #decoracion{
        width: 70px;
        height: 70px;
    }
    .int{
        margin-left: 5px;
    }
}

@media (max-width: 645px){
    header{
        position: fixed;
        width: 100%;
    }
    #decoracion{
        width: 70px;
        height: 70px;
    }
    .int{
        margin-left: 1px;
    }
    .quienes{
        margin-left: 10%;
        padding-top: 25%;
    }
   #ision{
        margin: 2%;
        width: 150px;
        height: 180px;
    }
    .card{
        width: 500px;
        height: 450px;

    }
    #heo{
        margin-left:30%;
    }
    .login-btn {
        display: inline-block;
        width: 250px;
        height: 50px;
    }
}

@media (min-width: 200px)and (max-width: 545px){
    header{
        position: fixed;
        width: 100%;
    }
    #decoracion{
        width: 54px;
        height: 54px;
    }
    .quienes{
        margin-left:9%;
        padding-top: 30%;
    }
    #ision{
        margin: 2%;
        width: 150px;
        height: 180px;
    }
    .card{
        width: 600px;
        height: 450px;

    }
    #heo{
        margin-left:40%;
    }
}
@media (max-width: 576px) {
    header{
        position: fixed;
        width: 100%;
    }
    #decoracion{
        width: 30px;
        height: 30px;
    }
    footer{
        width: 100%;
    }
    #hero{
        height: 520px;
        width: 100%;
    }
    .quienes{
        padding-top: 40%;
    }
    #ision{
        margin: 3%;
        width: 100px;
        height: 130px;
    }
    .card{
        width: 300px;
        height: 500px;

    }
    #heo{
        margin-left:28%;
    }

}